@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* Header Section */

/* .container{
    width: 82%;
    max-width: 1320px;
} */

.header-section{
    background-image: url('../resources/Banner-Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: center;
    padding: 177px 344px;
    margin: 50px auto;
}

.header-container{
    text-align: center;
    align-items: center;
}

.header-tag{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.header-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

/* Body section 1 start */

.offer-section{
    text-align: center;
}

.discount{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 50px;
}

.offer-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;

}

.offer-category{
    color: #070211;
    /* text-align: center; */
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-img{
    margin-bottom: 120px;
}

/* Body section 2 start */

.party-section{
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.party-text{
    width: 500px;
    padding: 120px;
    margin: 20px 90px;
    margin-left: -50px;

}

.party-text >button{
    border: 0;
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.party-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
}

.party-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

/* Section 3 */

.location-section{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    justify-content: center;
    align-items: center;
    margin: 120px auto;
    padding: 100px 380px;
    width: 540px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 120px;


}

.location{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.location-section > button{
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 16px 32px;
}

.location-title{
    color: #F00;
}


/* main section 4 */

.best-offer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

.best-offer{
    max-width: 400px;
}

.best-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.best-announce{
    margin-top: 0;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

/* Common shared style */

.common-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.best-img{
    border: 15px #F00 solid;
    border-radius: 100%;
    padding: 20px;
    gap: 118px;
}

.year-title{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

/* section 5 */

.holiday-section{
    margin-top: 118px;
    text-align: center;
}

.holiday-title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.holiday-discount{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}
.holidays-color{
    color: #F00;
}

.holiday-section >p{
    margin-top: 28px;
}

.discount-image-section{
    background-color: yellow;
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.red-bar{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.woman-pic{
    position: right, top;
}

/* section 6 */

.main-portfolio{
    width: 72%;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    

}

.sec1{
    margin-bottom: 24px;
}
.sec1 >img{
    margin-right: 24px;
}
.img3{
    margin: 0;
}
.sec2 >img{
    margin-right: 24px;
}
.img6{
    margin: 0;
}

/* section 7 */

.newsletter{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 80px;
}

.newsletter-email{
   padding: 14px;
   border-radius: 15px 0 0 15px;
   outline: none;
    
}
.button{
    margin-left: -5px;
    padding: 15px;
    border-radius: 0 15px 15px 0;
}
.newsletter input{
    border: 0;
    background-color: white;
}
.newsletter button{
    border: 0;
    background-color: red;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-weight: 600;
}
